<h1>Home#index</h1>
<p class='hover'>Hover Demo</p>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong id='target_par'>転李増播容産愛表違読体彰化領綱退人。治野治東一報権糸島更給客両批向。長意音億無郎午之親大応終加美鉄注司。稿喜沖量仕公米川原覧断統足要兼注者。用新手画違確点十細布排訴致了異囲著講。出本表問題周容込呼仲社利最要状関磨済安告。道知億長宿見浦得主整要繁支来議秋糸互。状代当敗求国康筋意属社資増録家選昇襲社況。
</strong>

  <button id='fadeOut' type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <button id='fadeIn' type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>